// Text
@mixin text-font($font) {
    body {
        font-family: #{$font};
    }
}

// Headings
@mixin headings-font($font) {
    h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: #{$font};
    }
}

// Buttons
@mixin buttons-font($font) {
    button, .button {
        font-family: #{$font};
    }
}

// Inputs
@mixin inputs-font($font) {
    input, textarea, select {
        font-family: #{$font};
    }
}