
.modal-box {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: $z-over-control;
}
.modal {
	position: relative;
	margin: auto;
	margin-top: 16px;
	padding: 0;
	background: #fff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    border-radius: 8px;
	color: #000;

	& input[type="text"],
	& input[type="password"],
	& input[type="email"],
	& input[type="url"],
	& textarea {
		@media (max-width: $breakpoint-small) {
		    font-size: 16px;
		}
	}
}
.modal-header {
	@include border-top-radius(4px);
	padding: 24px 32px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.modal-header:empty {
    display: none;
}
.modal-body {
    padding: 36px 56px;
}
.modal .close {
    @include close-size(36px);
	position: absolute;
	top: 18px;
	right: 16px;
	opacity: .3;
	&:hover {
    	opacity: 1;
	}
}


// Responsive
@media (max-width: $breakpoint-small) {
    .modal-header,
    .modal-body {
        padding: 24px;
    }
}