@import "functions";

// BREAKPOINTS
// ---------------------------------------------------------------------------
$sm: em(768) !default;
$md: em(1024) !default;
$lg: em(1200) !default;


// WIDTH
// ---------------------------------------------------------------------------
$w-small: em(480) !default;
$w-medium: em(600) !default;
$w-big: em(740) !default;
$w-large: em(840) !default;


// Z-INDEX
// ---------------------------------------------------------------------------
$z-over-content: 100 !default;
$z-over-control: 200 !default;
$z-over-page: 300 !default;
$z-over-screen: 400 !default;
$z-over-all: 500 !default;


// GRID
// ---------------------------------------------------------------------------
$grid-columns: 12 !default;
$grid-gutter: 2% !default;


// FONT FAMILY
// ---------------------------------------------------------------------------
$text-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$monospace-font-family: Consolas, Monaco, 'Courier New', monospace !default;
$headings-font-family: $text-font-family !default;
$buttons-font-family: $text-font-family !default;
$input-font-family: $text-font-family !default;


// COLORS
// ---------------------------------------------------------------------------

// Text
$color-text: #313439 !default;
$color-headings: #0d0d0e !default;

// Links
$color-link: #3794de !default;
$color-link-hover: #f03c69 !default;

// Button
$color-button-primary: #1c86f2 !default;
$color-button-primary-text: #fff !default;
$color-button-secondary: #313439 !default;
$color-button-secondary-text: #fff !default;

// States
$color-error: #f03c69 !default;
$color-success: #35beb1 !default;
$color-warning: #f7ba45 !default;
$color-focus: #1c86f2 !default;

// Extra
$color-inverted: #fff !default;
$color-highlight: #edf2ff !default; // color-focus 15% opacity

// Grayscale
$color-black: #0d0d0e !default;
$color-darkgray: #313439 !default;
$color-midgray: #676b72 !default;
$color-gray: #bdbdbd !default;
$color-lightgray: #d4d4d4 !default;
$color-silver: #e0e1e1 !default;
$color-aluminum: #f8f8f8 !default;


// TEXT
// ---------------------------------------------------------------------------

// Font Size
$font-size: $default-font-size !default;
$font-size-smaller: em($font-size - 4px) !default;
$font-size-small: em($font-size - 2px) !default;
$font-size-big: em($font-size + 2px) !default;
$font-size-large: em($font-size + 4px) !default;

// Baseline
$base-line: em($font-size + 8px) !default;
$base-line-smaller: em($font-size + 4px) !default;
$base-line-small: em($font-size + 4px) !default;
$base-line-big: em($font-size + 12px) !default;
$base-line-large: em($font-size + 16px) !default;

// Margin
$text-margin-bottom: em($font-size) !default;


// HEADINGS
// ---------------------------------------------------------------------------

// Font Size
// By default: 60, 48, 36, 24, 21, 18, 16
$heading-font-size-title: em($font-size + 44px) !default;
$heading-font-size-1: em($font-size + 32px) !default;
$heading-font-size-2: em($font-size + 16px) !default;
$heading-font-size-3: em($font-size + 8px) !default;
$heading-font-size-4: em($font-size + 5px) !default;
$heading-font-size-5: em($font-size + 2px) !default;
$heading-font-size-6: em($font-size) !default;

// Baseline
$heading-base-line-title: 4 * $font-size !default;
$heading-base-line-1: 3.25 * $font-size !default;
$heading-base-line-2: 2.5 * $font-size !default;
$heading-base-line-3: 2 * $font-size !default;
$heading-base-line-4: 2 * $font-size !default;
$heading-base-line-5: 1.75 * $font-size !default;
$heading-base-line-6: 1.5 * $font-size !default;

// Margin
$heading-margin-bottom: $font-size !default;


// TABLES
// ---------------------------------------------------------------------------

// Font Size
$table-font-size: em($font-size - 1px) !default;

// Baseline
$table-base-line: em($font-size + 8px) !default;

// Padding
$table-padding-tb: 1rem !default;
$table-padding-rl: 1rem !default;

// Border
$table-border: 1px solid rgba(0, 0, 0, .05) !default;

// Striped
$table-background-striped: $color-aluminum !default;


// BUTTONS
// ---------------------------------------------------------------------------

// Font Size
$button-font-size: em($font-size - 1px) !default;
$button-font-size-smaller: em($font-size - 5px) !default;
$button-font-size-small: em($font-size - 7px) !default;
$button-font-size-big: em($font-size + 1px) !default;
$button-font-size-large: em($font-size + 3px) !default;

// Baseline
$button-base-line: em($font-size + 4px) !default;

// Height
$button-height: em($font-size + 24px) !default;
$button-height-small: em($font-size + 20px) !default;
$button-height-big: em($font-size + 32px) !default;
$button-height-large: em($font-size + 40px) !default;

// Padding
$button-padding-tb: em($font-size - 8px) !default;
$button-padding-rl: em($font-size + 4px) !default;
$button-padding-small-tb: em($font-size - 10px) !default;
$button-padding-small-rl: em($font-size + 4px) !default;
$button-padding-big-tb: em($font-size - 3px) !default;
$button-padding-big-rl: em($font-size + 8px) !default;
$button-padding-large-tb: em($font-size + 4px) !default;
$button-padding-large-rl: em($font-size + 20px) !default;

// Weight
$button-font-weight: 500 !default;

// Radius
$button-border-radius: em($font-size - 13px) !default;


// INPUTS
// ---------------------------------------------------------------------------

// Font Size
$input-font-size: em($font-size - 1px) !default;
$input-font-size-smaller: em($font-size - 5px) !default;
$input-font-size-small: em($font-size - 3px) !default;
$input-font-size-big: em($font-size + 1px) !default;
$input-font-size-large: em($font-size + 3px) !default;

// Baseline
$textarea-base-line: $base-line !default;

// Height
$input-height: em($font-size + 24px) !default;
$input-height-small: em($font-size + 20px) !default;
$input-height-big: em($font-size + 32px) !default;
$input-height-large: em($font-size + 40px) !default;

// Padding
$input-padding-rl: em($font-size - 4px) !default;
$input-padding-small-rl: em($font-size - 4px) !default;
$input-padding-big-rl: em($font-size - 4px) !default;
$input-padding-large-rl: em($font-size - 4px) !default;
$input-textarea-padding-tb: em($font-size - 8px) !default;

// States
$input-border-width: 1px !default;
$input-border-color: $color-lightgray !default;
$input-background-color: #fff !default;
$input-box-shadow: none !default;

$input-focus-background-color: #fff !default;
$input-focus-border-color: $color-focus !default;
$input-focus-box-shadow: 0 0 1px $color-focus inset !default;

$input-error-background-color: $color-error !default;
$input-error-border-color: $color-error !default;
$input-error-focus-box-shadow: 0 0 1px $color-error inset !default;

$input-success-background-color: $color-success !default;
$input-success-border-color: $color-success !default;
$input-success-focus-box-shadow: 0 0 1px $color-success inset !default;

$input-disabled-opacity: .6;
$input-disabled-color: rgba(0, 0, 0, .5);

// Radius
$input-border-radius: em($font-size - 13px) !default;


// OVERLAY
// ---------------------------------------------------------------------------
$overlay-background-color: rgba(#fff, .95);